{% extends "base.html" %}
{% block content %}

<head>
  <h1 style="color:white;">Sales Agent Call Stats</h1>
</head>

<body>
  <p style="color:white;">This data will be pulled from UK Phone Server</p>
</body>
<form action="/forex_rates" method="GET">
  <input type="submit" name="" value="Exchange Rates">
</form>
<form action="/agent_Salesfig" method="GET">
  <input type="submit" name="" value="Agent Sales Figures">
</form>
<form action="/sales_deals" method="GET">
  <input type="submit" name="" value="Sale Deals">
</form>

{% endblock %}
